@CHARSET "UTF-8";

/* 添加按钮*/
.button-add-24 {
	background-image: url(../images/t01.png) !important;
	background-repeat: no-repeat;
}

.button-edit-24 {
	background-image: url(../images/t02.png) !important;
	background-repeat: no-repeat;
}

.button-delete-24 {
	background-image: url(../images/t03.png) !important;
	background-repeat: no-repeat;
}

.button-upload-24 {
	background-image: url(../images/upload.png) !important;
	background-repeat: no-repeat;
}

.button-check-24 {
	background-image: url(../images/check.png) !important;
	background-repeat: no-repeat;
}

.button-top-24 {
	background-image: url(../images/top.png) !important;
	background-repeat: no-repeat;
}

.button-canceltop-24 {
	background-image: url(../images/canceltop.png) !important;
	background-repeat: no-repeat;
}