@CHARSET "UTF-8";

/* 添加按钮*/
.button-add {
	background-image: url(images/button/add.png) !important;
	background-repeat: no-repeat;
}

/* 编辑按钮*/
.button-edit {
	background-image: url(images/button/edit.png) !important;
	background-repeat: no-repeat;
}

/* 删除按钮*/
.button-delete {
	background-image: url(images/button/delete.png) !important;
	background-repeat: no-repeat;
}

/* 确定按钮*/
.button-ok {
	background-image: url(images/button/ok.png) !important;
	background-repeat: no-repeat;
	background-position: center;
}

/* 重置按钮*/
.button-reset {
	background-image: url(images/button/reset.png) !important;
	background-repeat: no-repeat;
}

/* 取消按钮*/
.button-cancel {
	background-image: url(images/button/cancel.png) !important;
	background-repeat: no-repeat;
}

/* 保存按钮*/
.button-save {
	background-image: url(images/button/save.png) !important;
	background-repeat: no-repeat;
}

/* 关闭按钮*/
.button-close {
	background-image: url(images/button/close.png) !important;
	background-repeat: no-repeat;
}

/* 上传按钮*/
.button-upload {
	background-image: url(images/button/upload.png) !important;
	background-repeat: no-repeat;
}

/* excel按钮*/
.button-excel {
	background-image: url(images/button/excel.png) !important;
	background-repeat: no-repeat;
}

/* 导入按钮*/
.button-import {
	background-image: url(images/button/import.png) !important;
	background-repeat: no-repeat;
}

/* 重置密码按钮*/
.button-reset-password {
	background-image: url(images/button/reset_password.png) !important;
	background-repeat: no-repeat;
}

/* 启用按钮*/
.button-enabled {
	background-image: url(images/button/play.png) !important;
	background-repeat: no-repeat;
}

/* 停用按钮*/
.button-disabled {
	background-image: url(images/button/stop.png) !important;
	background-repeat: no-repeat;
}

/* 下一步按钮*/
.button-next {
	background-image: url(images/button/next.png) !important;
	background-repeat: no-repeat;
}

/* 获取原始码按钮*/
.button-sourcecode {
	background-image: url(images/button/sourcecode.png) !important;
	background-repeat: no-repeat;
}

/* 获取执行按钮*/
.button-execute {
	background-image: url(images/button/execute.png) !important;
	background-repeat: no-repeat;
}

/* 获取分析按钮*/
.button-analysis {
	background-image: url(images/button/analysis.png) !important;
	background-repeat: no-repeat;
}

/* 获取启动按钮*/
.button-start {
	background-image: url(images/button/start.png) !important;
	background-repeat: no-repeat;
}

/* 获取停止按钮*/
.button-stop {
	background-image: url(images/button/stop.png) !important;
	background-repeat: no-repeat;
}

/* 获取打开按钮*/
.button-open {
	background-image: url(images/button/open.png) !important;
	background-repeat: no-repeat;
}

/* 获取打印按钮*/
.button-print {
	background-image: url(images/button/print.png) !important;
	background-repeat: no-repeat;
}

/* 获取全屏显示按钮*/
.button-fullscreen {
	background-image: url(images/button/fullscreen.png) !important;
	background-repeat: no-repeat;
}

/* 挂起*/
.button-suspend {
	background-image: url(images/button/suspend.png) !important;
	background-repeat: no-repeat;
}

/* 恢复*/
.button-restore {
	background-image: url(images/button/restore.png) !important;
	background-repeat: no-repeat;
}

/* 用户名输入域*/
.input-username {
	background-image: url(images/sec/username.png) !important;
	background-repeat: no-repeat;
	background-position: right;
}

/* 密码输入域*/
.input-password {
	background-image: url(images/sec/key.png) !important;
	background-repeat: no-repeat;
	background-position: right;
}

/* 配置链接*/
.link-config {
	padding-left: 18px;
	background: transparent url(images/link/config.png) no-repeat center
		left;
}

/* 下载链接*/
.link-download {
	padding-left: 18px;
	background: transparent url(images/link/download.png) no-repeat center
		left;
}

/* 根节点*/
.node-root {
	background-image: url(images/tree/root.png) !important;
	background-repeat: no-repeat;
}

/* 用户节点*/
.node-user {
	background-image: url(images/tree/user.png) !important;
	background-repeat: no-repeat;
}

/*菜单节点*/
.node-menu {
	background-image: url(images/tree/menu.png) !important;
	background-repeat: no-repeat;
}

/*模块节点*/
.node-module {
	background-image: url(images/tree/module.png) !important;
	background-repeat: no-repeat;
}

/*功能节点*/
.node-function {
	background-image: url(images/tree/function.png) !important;
	background-repeat: no-repeat;
}

/* chart bar 图标*/
.chart-bar {
	background-image: url(images/button/chart_bar.png) !important;
	background-repeat: no-repeat;
}
/* chart line 图标*/
.chart-line {
	background-image: url(images/button/chart_line.png) !important;
	background-repeat: no-repeat;
}
/* chart pie 图标*/
.chart-pie {
	background-image: url(images/button/chart_pie.png) !important;
	background-repeat: no-repeat;
}

/* chart 启动 图标*/
.chart-play {
	background-image: url(images/button/chart_play.png) !important;
	background-repeat: no-repeat;
}
/* chart 停止 图标*/
.chart-stop {
	background-image: url(images/button/chart_stop.png) !important;
	background-repeat: no-repeat;
}
/* chart 重新加载 图标*/
.chart-reload {
	background-image: url(images/button/chart_reload.png) !important;
	background-repeat: no-repeat;
}