a {
	text-decoration: none;
	color: black;
}

body {
	/* background-color: #DDD; */
}

.northTitle {
	font-family:'微软雅黑';
	font-size:24px;
	font-weight:bold;
	height:60px;
	line-height:40px;
}

.loginInfo {
	border:0px solid red;
	display:block;
	position:absolute;
	bottom:5px;
	right:10px;
}