
/* 整个body的样式 */
body{background-color: #f0f9fd}


/* mileage 上面面板的样式 */
.alarm_north{
	height:42px;
}

/* mileage 左面面板的样式 */
/*总体样式*/
.alarm_west{
	height:100px;
	width:200px;
}
/*选统计对象的div样式*/
.alarm_west .west_top{
	height:60px;
	border-bottom:1px solid #7AC5CD;
}
/*选择统计对象的单选框的样式*/
.alarm_west .west_top .alarm_type{
	margin-left:40px;
	margin-top:10px;
}
/*中间查找组织或*/
.alarm_west .west_mid{
	height:100px;
	border-bottom:1px solid #7AC5CD;
}
.alarm_west .west_mid div{
	margin-top:20px;
	margin-left:20px;
}
.alarm_west .west_mid div a{
	width:140px;
	height:20px;
}
.alarm_west .west_bot{
	height:400px;
}
.alarm_west .west_bot div{
	padding:5px;
}

/* mileage 中间面面板的样式 */
.alarm_center {
	
}
.alarm_center .center_top{
	padding-top:20px;
	padding-left:20px;
	height:45px;
}
.alarm_center .center_top label{
	margin-left:10px;
}
.alarm_center .center_top .center_starttime{
	 width:120px;
}
.alarm_center .center_top .center_endtime{
	 width:120px;
}
.alarm_center .center_top .search_time_value{
	 padding:10px;
}
.alarm_center .center_top .top_search_btn{
	 width:50px;
	 margin-left:20px;
}
.center_content{
	width:100%;
}